body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
}

.pomodoro-container {
    text-align: center;
    background-color: #20232a;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    color: #61dafb;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button,
.break button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #20232a;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover,
.break button:hover {
    background-color: #4fa1d8;
}

.settings {
    margin-top: 20px;
    font-size: 16px;
}

.settings input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

.divider {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #4fa1d8, #61dafb, #4fa1d8, transparent);
    margin: 10px 0;
}
